@import "./google-fonts.css";

.fancy {
  --offset: 1px;
  border-radius: 4px;
  position: relative;
  /* height: fit-content;
  width: fit-content; */
  height: 100%;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  pointer-events: none;
}

/* Conic gradient */
.fancy--active::before {
  content: "";
  background: conic-gradient(
    from 180deg at 50% 50%,
    #ffffff 0deg,
    rgba(255, 255, 255, 0) 60deg,
    rgba(255, 255, 255, 0) 300deg,
    #ffffff 360deg,
    rgba(255, 0, 0, 0) 360deg
  );
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  aspect-ratio: 1;
  width: 100%;
  animation: rotate 2s linear infinite;
}
.fancy--complete::before {
  content: "";
  /* background: white; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  aspect-ratio: 1;
  width: 100%;
  animation: complete 0.5s linear forwards;
}
.fancy--complete {
  animation: complete2 0.5s linear forwards;
}

/* Overlay */
.fancy::after {
  content: "";
  background: inherit;
  border-radius: inherit;
  position: absolute;
  inset: var(--offset);
  height: calc(100% - 2 * var(--offset));
  width: calc(100% - 2 * var(--offset));
}

.fancy button {
  /* background: transparent;
  color: white;
  font-size: 1.5rem;
  position: absolute;
  inset: 0;
  z-index: 10;
  padding: 1.5rem; */
  pointer-events: all;
}

.fancy2 {
  opacity: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  pointer-events: none;
}
.fancy2--complete {
  animation: opacityFlash 0.5s linear forwards;
}

@keyframes rotate {
  from {
    transform: translate(-50%, -50%) scale(1.4) rotate(0turn);
  }
  to {
    transform: translate(-50%, -50%) scale(1.4) rotate(1turn);
  }
}

@keyframes complete {
  from {
    background: transparent;
  }
  50% {
    background: white;
  }
  to {
    background: transparent;
  }
}

@keyframes complete2 {
  from {
    box-shadow: 0px 0px 0px 0px transparent;
  }
  50% {
    box-shadow: 0px 1px 8px 2px rgba(255, 255, 255, 0.25);
  }
  to {
    box-shadow: 0px 0px 0px 0px transparent;
  }
}

@keyframes opacityFlash {
  from {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
